.body{
	width: 100%;
	background-color: #ffffff;
	margin:0 auto;
	font-family: Calibri;
	
}

.encabezado{
	width: 100%;
	height: 100px;
	padding: 0px ;
	color: #BCBBBB;
	display:flex;
	flex-direction: row;
	border-bottom-style: solid;
	border-bottom-color: #BCBBBB;
}

.title{
	margin:20px;
	width: 100%;
	text-align: right;
}

.title h1{
	font-size: 50px;
	
	margin-bottom: -20px;
	margin-top: -5px;
}

.title h2 {
	font-size: 19px;
	font-weight: bold;
}

.img{
	margin:20px;
}

.contenido{
	width: 100%;
	margin-top:20px;

}
.contenido h2{
	margin: 15px;
	color:#BCBBBB;
	font-size:35px;
}

.img_centro{
	width: 100%;
	height: 25%px;
	margin:5px;
}

.image{
	width: 100%;
	display:flex;
	flex-direction: row;
	margin-left:5px;
	margin-top: -15px;
}

.image img{
	margin:20px;
	width: 33%;
	height: 60%;
	margin-bottom: -15px;
}

.text{
	display:flex;
	flex-direction: row;
	margin-top: 15px;

}
.text h2{
	color:#747704;
	text-align: center;
	width: 33%;
}

.txt{
	display:flex;
	flex-direction: row;
	margin-top: 15px;

}
.txt h5{
	color:#BCBBBB;
	text-align: center;
	width: 33%;
	margin-top: -30px;
}